[2018-02-09 03:39] frasertweedale opened #2 "email construction, manipulation and printing"
We have a use case for building emails and serialising them for transmission.
Right now *purebred* is using a different library for that.

Things we need to include or handle:

- adding another part / attachment (possibly within a nested message).  a zipper may be useful.
- content transfer encoding, including determining the best content transfer encoding to use for a given entity
- serialising w

[2018-02-09 03:39] frasertweedale opened #3 "release on hackage"
It's time.

[2018-02-09 03:49] frasertweedale opened #4 "implement B and Q encoding for header values"
- https://tools.ietf.org/html/rfc2047
- ^ updated by https://tools.ietf.org/html/rfc2231

[2018-02-13 01:00] frasertweedale commented on #4
This was fixed in e304cc46b34b906adabfa4866779ac4d17c50ceb

[2018-02-13 01:00] #4 closed

[2018-02-13 01:18] frasertweedale opened #5 "support more charsets"
Currently we only support `us-ascii`, `iso-8859-1` and `utf-8` charsets.
But there are many more common charsets.  Found in a corpus of my personal
email were:

[code]

And there are undoubtedly many more we need to support.

[*text-icu*](https://hackage.haskell.org/package/text-icu) package is a binding to *libicu* with support for all common charsets.  It does some things impurely (namely, loadi

[2018-02-13 01:26] frasertweedale opened #6 "support MIME parameter value charset, language and continuations"
https://tools.ietf.org/html/rfc2231 defines mechanisms for indicating
charset and language in a header field.

It also defines a parameter value continuation mechanism, for wrapping parameter
values that exceed the line length limit into multiple parameters.  This is particular
important for the Content-Disposition *filename* parameter.

Implement support for these mechanisms.

[2018-02-17 06:20] frasertweedale commented on #6
completed in 42afd3b36f1d8d2ae439bed31dee9f784c86c847.

Note that continuations have not been tested against real mail yet.  For that
we need Content-Disposition header support and attachment processing.

[2018-02-17 06:20] #6 closed

[2018-02-17 06:20] frasertweedale opened #7 "haddock"
'nuff said.  document how to use the darn library.

[2018-02-17 06:22] frasertweedale opened #8 "content-disposition and attachments"
we need:

- a proper type for representing content-disposition header, and corresponding parser
- a `Fold` over *attachment* entities

[2018-02-20 00:39] frasertweedale opened #9 "default charsets based on content-type"
Different content types can define different (or no) default charset.
We should implement default charset lookup.  For details see
https://tools.ietf.org/html/rfc6657#section-4

[2018-04-04 00:15] romanofski opened #13 "Tab character in subject header shows as whitespace"
I've noticed this in an e-mail today where the subject was something like:
[code]
because the e-mail underneath looked like this:

[code]
Obviously I would want it to read:
[code]
without the whitespace.
Have not spent time figuring out where exactly the problem is or what it supposed to happen, but rather thought filing the bug to have a record of this.

[2018-04-05 05:42] frasertweedale commented on #13
@romanofski can you provide minimum reproducer for *purebred-email* itself.  AFAICT it's doing the right thing.

[2018-04-05 05:46] romanofski commented on #13
I can try. Hm.. although when you say a single space then it seems to be doing the right thing... it just looks odd.

Checking in another mailer - mutt - it parses the mail the same. So... maybe there is no bug, it's just whatever produced the mail (guess Bugzilla) just stuffed up the word?

[2018-04-05 06:19] frasertweedale commented on #13
Yeah, no bug :)  Closing.

[2018-04-05 06:19] #13 closed

[2018-07-22 03:07] romanofski commented on #2
Assigned this to myself. As a noob myself on this, I guess I'll use this to document some of my findings and how I'm about to proceed. I guess a) to document for myself the way I approach it and b) a log for myself to learn from possible mistakes which will most likely happen.

[2018-07-31 10:24] romanofski commented on #2
I've got a property test to check that the round trip between parsing/serialisation works. This obviously fails, but I'm now a bit stuck in which way I should go. Most of the types in `Data.MIME` are folds and getters. Rendering a `MIMEMessage` would be way too low level, so we need something higher. The tricky bit I'm currently unsure of is: do we change the data type:
[code]
or do we change the

[2018-08-01 05:39] frasertweedale commented on #2
@romanofski the `MIME` data type is not intended to be used on its own, rather as the payload type of `Message`, i.e. `Message MIME`.  The `Message` carries all the headers for the `MIME` payload which may be a single part or multipart.

[2018-08-01 09:48] romanofski commented on #2
AAahh I think I understand. My mistake was to expect the part itself will have to carry headers, which is not the case. For example, if I have a multipart mail, with a Content-Type: multipart/alternative, I would effectively have (hope I get it right, just for illustration):

[code]

[2018-08-03 07:14] romanofski commented on #13
Today I realised that the problem was actually never purebred-email. Working on the serialisation made me realise that our subject headers are still not correctly "unfolded" field bodies. Looking into this closer, I realised that we're actually showing the subject out of the index from notmuch. So it's notmuch which seems to not correctly unfolding field bodies. Once you view the mail, a folded fi

[2018-08-09 09:49] romanofski commented on #2
I've been thinking and reading up on this a bit. My initial idea was to render whatever the MIMEMessage is composed of. The main motivation is to render the mail similar to the way we parse it.

Then use helper functions for composition: adding parts, attachments, etc. One huge drawback of this however is, that I need to basically pre-render parts of the message during composition. That is slow an

[2018-08-10 03:49] frasertweedale commented on #2
@romanofski no, you are correct.  But, is this really too high a cost, to read a file of the filesystem?  I think probably not.  Keep it simple.

But if it turns out to be too expensive, there are a couple of ways we could address it.  IMO let's
cross that bridge if/when it matters, and just do the simple thing first.

[2018-08-10 03:59] romanofski commented on #2
Alright good to know that I gotten a bit too worried. The benefit of just rendering a MIMEMessage is, that in it's current form it's really simple.

[2018-08-10 08:54] frasertweedale commented on #2
I'd like to talk about how to avoid the `IO` for MIME boundary randomness.  IMO we should seed a RNG at program start time and put it in the `AppState`.  Essentially it can be an infinite list of random, valid characters.  When we create the MIME boundary we can just pull *n* chars of the front of that, set the rest of of the list back into the `AppState`, and there you go.

[2018-08-11 22:53] romanofski commented on #2
@frasertweedale Yeah I'd like the idea of keeping the IO out of the serialisation.

One other aspect I thought of leaving out for now is handling `multipart/alternative`. I think for now focusing on `multipart/mixed` should be sufficient to get us going. Unless I'm missing a very valid use case for alternative representations of the same content, I would leave it for later.

[2018-08-11 23:47] romanofski commented on #2
Hm on a closer look this might be a no-brainer. I'm still figuring out which way to go:

1. generate the boundary when `Multipart` is constructed, which is added by a `Content-type` header. This however has the downside, that I'll somewhat need to "extract" the boundary out of the header value. Not hard, but well... stringly typed
2. generate the boundary when rendering the mail. That has the bene

[2018-08-12 03:40] romanofski commented on #2
I just found the `ContentType` constructor. Maybe idea 1) isn't as dire in terms of typing than I thought ...

[2018-08-16 05:09] romanofski commented on #2
Alright I have a renderer, which if existing mails are parsed, spits them out identically. I'll see to add the "high level" API and driven by the demand we need for purebred.

[2018-08-16 11:47] romanofski commented on #2
Cheers, but I just realised that I've forgot to properly fold field bodies. I also wanted to add a property test, which at this point is still failing :)

[2018-08-30 09:30] romanofski commented on #2
Bit stuck, shouldn't:

[code]
return "foo.pdf"? Unless I've stuffed something up, it returns me an empty string or a `Nothing` if I use `preview`. I can see that it tries to give me a T.Text which it does through charset decoding? Does that mean for Attachments I always need to specify the encoding?

[2018-08-30 10:31] romanofski commented on #2
I figured it out. So it tries to charset decode the file name, but for an attachment with a `Content-Type: application/whatever` there is no charset specified. Which then ends up being a Nothing.

Maybe better to just return a `Bytestring` ?

[2018-08-30 10:36] frasertweedale commented on #2
No, we should return `Text` in case it is decoded.  I think it's a regression from when I implemented parameter continuations.  I'll have a fix soonish, hopefully.

[2018-08-30 10:38] romanofski commented on #2
No worries. I've written myself a little workaround. Will use that in the mean time and then use the proper fix. Cheers!

[2018-08-30 11:35] frasertweedale commented on #2
@romanofski how does https://github.com/purebred-mua/purebred-email/commit/d12a48ccf8cb4823783f5d0a8651acf45e0c5b03 go for you?

[2018-08-31 02:28] frasertweedale commented on #2
@romanofski pushed.  I should really write some tests for this basic stuff.

[2018-08-31 12:53] #9 closed

[2018-09-04 01:54] frasertweedale commented on #7
Got a fair bit of doc now.  Closing.

[2018-09-04 01:54] #7 closed

[2018-09-05 14:03] frasertweedale commented on #2
@romanofski FYI, from our discussions yesterday: I'm about 1/2 of the way to having "writeable" optics all the way from message down to decoded (i.e. non-ASCII) filenames.  The optics also support deleting.  See https://github.com/purebred-mua/purebred-email/blob/c8380f43ed3abf911291837b62cbc118b97afdf9/tests/Headers.hs#L145-L164 for an example of what's possible now.

The stuff that's missing is:

[2018-09-22 22:13] romanofski commented on #2
I'm a bit stuck putting this together. My understanding that we should have everything in order to compose this correctly. In order to "loop" a function over every attachment, I was presuming I could use a traverse:
[code]
but that gives me:
[code]
Using a fold:
[code]
seems to work fine.
I'm not sure what's exactly wrong or where my misunderstanding comes from.

The documentation for Traversal me

[2018-09-22 23:37] romanofski commented on #2
Hey @frasertweedale cheers for this. The way I read the map on http://hackage.haskell.org/package/lens-4.17 is that a `Fold` is also a `Traversal`. Do I take the *inheritence* here a bit to literally? Does the `Fold` produce a single value where as I really do need a `Traversal` here, since I do want to apply a function to all attachments?

[2018-09-22 23:38] frasertweedale commented on #2
@romanofski https://github.com/purebred-mua/purebred-email/commit/482f5f5780880bd708f439859323a3b2fd9f3dc1.

You just use `set`:
[code]

`traverseOf` is definitely not what you are looking for.

[2018-09-22 23:42] frasertweedale commented on #2
@romanofski a `Traversal` is a `Fold`, not the other way (`Fold` is read-only).

Traversals and folds both work with multiple *targets*.

`set` with a traversal sets all targets (per "unset all attachment filenames" example in tests).

You can also apply a function `over` all targets of a traversal.

In general it is easier to use the `view`, `preview`, `set`, `over` helper functions than use the

[2018-09-23 01:40] romanofski commented on #2
I see. Seems like I did read the map totally wrong. I guess part of the reason I cant use `set` on a `Fold` is that its simply not defined. I could use `view` though which would give me a monadic value. If you use a traversal,  you can use `set` because a traversal is also a `Setter`. Does that sound right?

[2018-09-23 05:35] romanofski commented on #2
Oh and btw. just in case: I'll wait for your commit, rebase and then push.

[2018-09-23 10:48] frasertweedale commented on #2
@romanofski the commit is https://github.com/purebred-mua/purebred-email/commit/482f5f5780880bd708f439859323a3b2fd9f3dc1

[2018-09-25 20:57] romanofski commented on #2
I've been fiddling with the API a bit more. More specificially I'd like to use the `Mailbox` data types when constructing a `MIMEMessage`. What I currently can't decide, but rather try to figure out if having a function which accepts the addresses (e.g. `To`, `From`, etc) or use convenient lenses to set the headers. At the moment I tend towards providing lenses to alter the `MIMEMessage`, which th

[2018-09-25 22:08] frasertweedale commented on #2
I think we want the optics for sure, and after that you will be able to decide whether a "convenience function" is desirable.

[2018-09-29 05:12] romanofski commented on #2
Hrmpf. I'm implementing the optic for setting the `Date` field and thought this should work:
[code]
Now I realise that it won't work without involving IO, because the time library uses IO to parse a given string.

I'm now thinking of using:

[code]
for now and simply deal with the conversion later. Surely the caller can figure out the current time involving IO by himself?

[2018-10-02 01:36] frasertweedale commented on #2
Roll with it for now, we can refactor later.

[2018-10-11 10:49] romanofski opened #16 "Improve handling of dates"
With the merge of #15 we've introduced an optic `headerDate` which uses `parseTimeOrError`. The use of this function could end up in an exception which is not handled.
Instead, we would like to avoid using a non-total function and perhaps also `parseTimeM` which uses `IO`.

[2018-10-17 09:08] romanofski commented on #2
I'll close this because the PR #15 was merged.

[2018-10-17 09:08] #2 closed

[2018-11-19 00:09] frasertweedale opened #18 "add IsString instance for Mailbox"
Per https://github.com/purebred-mua/purebred/pull/207#pullrequestreview-175139273:

This means a runtime error when processing the configuration (so we should deepseq / force the whole configuration value to catch it at program startup) but it would be more user-friendly IMO. LMK what you think.

[2018-12-23 03:45] frasertweedale commented on #8
Fixed ages ago in 5738af5e43c24362f1aaec85562cde0d54f887fa.

[2018-12-23 03:45] #8 closed

[2018-12-23 12:07] frasertweedale commented on #3
It's done: https://hackage.haskell.org/package/purebred-email

[2018-12-23 12:07] #3 closed

[2019-03-22 05:42] romanofski commented on #5
The windows-1252 is one I run into a lot. I do feel text-icu is quite a big dependency for some of the common ones. I wonder how much it takes to support some of the common ones like windows-1252 and for the rest use text-icu?

[2019-03-26 01:04] frasertweedale commented on #5
I've got upcoming, changes to both purebred-email and purebred to support this, as well as our first official plugin, *purebred-icu* :)

[2019-04-19 23:08] romanofski opened #23 "FileParseError "<path to email>" "string""
Opening some of my older emails in purebred, I run into the error above. I have not investigated what exactly is causing it. Mail in question is unfortunately personal so I can't just post it here, but happy to forward :)

[2019-04-19 23:12] romanofski commented on #23
Ah I think noteworthy is the following I found opening up the mail itself:

[code]
and structure looks like this:
[code]

[2019-04-19 23:16] romanofski opened #24 "FileParseError "<path to mail>" "Failed reading: satisfy""
I ran into another `FileParseError` when opening up an older mail (April 2016). Have not investigated further. Structure looks like this:

[code]

[2019-04-20 23:37] frasertweedale commented on #23
Could you "sanitise" the mail but still cause reproduction?

[2019-04-21 02:05] romanofski commented on #23
@frasertweedale Will try and report back

[2019-04-21 04:04] romanofski commented on #23
Yeah it's definitely not the double `MIME-Version` header.

[2019-04-24 23:43] romanofski commented on #23
I've truncated the binary bits of the mail and obfuscated some of the "sensitive items". This should reproduce the issue: [reproducerParserFailureString.txt](https://github.com/purebred-mua/purebred-email/files/3114547/reproducerParserFailureString.txt)

[2019-04-25 00:03] romanofski commented on #24
I think this one seems to be caused by a malformed `From` header:

[code]
There is actually a another, correctly formatted `From` header.

[2019-04-25 00:41] frasertweedale commented on #24
So... close this not-a-bug then?

[2019-04-25 01:03] frasertweedale commented on #23
Thanks @romanofski.  This is failing at:
[code]

Which is just after the end of the final multipart/related part, i.e.
[code]

I note that there are two blank lines after the final boundary for the preceding body part.  I need to check if that is legal, but I think it is, in which case this is indeed a bug in the parser.

[2019-04-25 01:12] frasertweedale commented on #23
Hmm, removing the extra newline does not make a difference.  More investigation needed...

[2019-04-25 01:13] romanofski commented on #24
Hm... well mutt seems to ignore the junk and parses it just fine (maybe, it displays the mail at least). Would a solution be to ignore random bytestrings which are not correctly formatted headers or is this a minefield?

[2019-04-25 01:25] frasertweedale commented on #23
Perhaps it is related to multipart-within-multipart scenario...

[2019-04-25 01:28] frasertweedale commented on #24
It's malformed... there is no end in sight if we try to handle every kind of malformed email we encounter.

[2019-04-25 01:32] frasertweedale commented on #24
Minimal reproducer:
[code]

[2019-04-25 01:35] frasertweedale commented on #24
I've got to leave it there for today.  Getting closer though :)

[2019-04-25 02:14] romanofski commented on #24
Fair enough if you want to throw it out. Btw. I think you mistakenly commented on the wrong bug :)

[2019-04-25 04:19] frasertweedale commented on #24
Yes I did.  Whups :)  Closing this now.

[2019-04-25 04:19] frasertweedale commented on #23
Minimal reproducer:
[code]

[2019-04-25 05:02] frasertweedale commented on #23
Putting a gap between the two close delimiters makes correct parse, i.e.:
[code]

Investigating whether the two close delimiters separated by single newline is legal or not...

[2019-04-30 01:48] #23 closed

[2019-06-06 17:51] talanis85 opened #27 "Whitespaces between `word`s in `phrase`"
Hello, everyone!

I think, the `phrase` parser is missing out on spaces between words.

Example: The display name in `John Doe <jdoe@example.com>` should parse to `"John Doe"` instead of `"JohnDoe"`.

From RFC 5322, Section 3.2.2:

[2019-06-08 08:10] #27 closed

[2019-07-01 13:07] #5 closed

[2019-07-30 00:31] frasertweedale opened #33 "boundary must be 1..70 characters (and other restrictions)"
Adjust types to enforce boundary being 1..70 characters (and other restrictions).
See https://tools.ietf.org/html/rfc2046#section-5.1.1 for details.

[2019-08-08 04:26] frasertweedale opened #34 "Use NonEmpty for multipart bodies"
a multipart message must always have at least one part.  Types should reflect this.

[2019-09-14 04:30] #34 closed

[2019-09-14 05:31] frasertweedale opened #35 "support messages without body"
Messages may have no body.  This is different from an empty body, in that there is not CRLF after the headers.

Esoteric, but could be important for some use cases.

[2020-01-15 17:00] singpolyma opened #38 "Support leading mbox-style From line"
Mail messages in various contexts (such as from procmail, etc) often start with an mbox-style From line that is not in header format, such as:

[code]

Currently feeding such data into purebred-email causes the parser to fail.  Removing the leading From line allows the mail to be parsed.

Something like this works:

[code]

[2020-01-17 05:09] frasertweedale commented on #38
purebred-email parses the Internet Message format.  mbox is another thing.  I don't mind imposing "strip first line" on users of the library who would parse mbox data.

I am open to pursuasion, but wary of scope creep.

[2020-01-17 21:05] singpolyma commented on #38
Somebody claiming to be Fraser Tweedale wrote:

I would agree that actually parsing mbox as a format would be a *major*
scope creep.  The reason I think this "Ignore leading from line" might be
worth adding to the parser is that so much mail (even inside a mailserver's
processing pipeline) ends up with it added, and most unix-y utilities for
handling mail happily ignore it, so it was quite surpris

[2020-01-29 19:51] singpolyma opened #39 "export renderAddressSpec"
To allow rendering an email address extracted from a message without mailbox formatting

[2020-02-07 10:58] frasertweedale commented on #38
For reference: https://tools.ietf.org/html/rfc4155.

Reading a bit more, there are a few challenges:

- Escaping lines that already start with `From `.  Escaping lines that already start with whatever the escape sequence for `From ` is.  *Ad infinitum*.

- Determining where messages end.  RFC 5322 is ambivalent (the message ends where the data stops).  MIME messages *might* have a `Content-Length`

[2020-02-07 10:58] #38 closed

[2020-02-12 20:33] singpolyma opened #40 "How to use headerFrom to set?"
set MIME.headerFrom [x] $ MIME.createTextPlainMessage "hai"

Results in an unmodified message -- that is, the body `hai` is present, but the header is not set.  Using a lower-level style:

    set (MIME.headers . at (s"from")) (Just "b@b.com") $ MIME.createTextPlainMessage "hai"

works, but is obviously less desirable.

[2020-02-12 20:55] singpolyma opened #41 "Headers accept non-ASCII content"
set (MIME.headers . at (s"Subject")) (encodeUtf8 "<some unicode>")

This works, but rendering the resulting message gives me, not the encoded words I expected, but raw unsafe 8bit content.

[2020-02-12 23:49] frasertweedale commented on #41
@singpolyma do you mean:
[code]

Anyhow I think we need to document this better for now, and going forward perhaps use a "7bit" newtype wrapper with smart constructor at this "first level" of header processing, that will make it impossible to write 8-bit data into headers.

Thoughts?

[2020-02-13 03:09] frasertweedale commented on #40
@singpolyma it appears to be a bug.

[2020-02-13 22:01] #40 closed

[2020-02-18 02:01] singpolyma commented on #41
Yeah, maybe want to use https://hackage.haskell.org/package/ascii in the right places -- though if a higher-level API existed that did the "right thing" then maybe it would be less likely than anyone would try this and less of a big deal.

[2020-02-19 23:38] #35 closed

[2020-02-23 03:50] singpolyma commented on #16
`parseTimeM` does not use `IO` but rather any useful failure Monad, including `Maybe` (which would be the normal thing to use here, I expect)

[2020-02-23 03:52] singpolyma opened #46 "Cannot add Date header with headerDate"
Similar to #40 -- trying to set `headerDate` on a new email results in the header not being added.

[2020-02-23 23:43] #39 closed

[2020-02-24 00:22] #46 closed

[2020-02-24 00:22] #16 closed

[2020-02-24 01:31] frasertweedale opened #49 "various RFC5322 date parsing and type issues"
We have to parse dates better.  Issues include:

- Day of week is optional, but we require it
- Seconds are option, but we require them
- Various valid whitespace occurrence is rejected by us
- We erase the timezone offset and return a `UTCTime`.  We should keep the offset in the data we return (i.e. we have to change the type).

See https://tools.ietf.org/html/rfc5322#section-3.3

[2020-02-24 02:28] singpolyma opened #50 "Mailbox "name" renders 8bit"
renderMailbox $ Mailbox (Just "世") addr

This produces 8bit output instead of using encoded words on the name portion

[2020-02-25 01:45] frasertweedale commented on #50
confirmed; thanks for the report

[2020-02-27 03:44] frasertweedale opened #53 "RFC 6854 change to From: and Sender: syntax"
See https://tools.ietf.org/html/rfc6854#section-2, *Allowing Group Syntax in "From:" and "Sender:"*

[2020-04-17 03:00] #50 closed

[2020-04-17 03:00] frasertweedale commented on #41
Fixed in fa4f36e01b6f4bd6e950f378c0feeee713dcd640.

[2020-04-17 03:00] #41 closed

[2020-04-28 06:20] frasertweedale opened #56 "test failure: message round trip From header"
https://travis-ci.org/github/purebred-mua/purebred/jobs/680412437

[code]

[2020-04-28 06:33] frasertweedale commented on #56
Comes down to use of `foldUnstructured` header folding logic.  The string is getting chunked, and that's how the two spaces inside `"  " <!@!>` are getting reduced to one.

How to resolve this will require some thought; we need to distinguish between structured and unstructured headers, but we also need to be able to wrap values in structured fields.

[2020-04-28 09:52] frasertweedale opened #57 "header roundtrip 'B' encoded-word test failure"
[code]

[2020-04-28 09:55] frasertweedale commented on #57
Invalid; it was only in a devel branch -_-

[2020-04-28 09:55] #57 closed

[2020-04-29 03:56] frasertweedale commented on #56
Flippin' hell github, just beacuse I /mention/ an issue URL in a commit message DOES NOT IMPLY THAT THE COMMIT FIXES THE ISSUE. grrrrrr

[2020-04-29 20:55] #56 closed

[2020-10-15 17:20] dylex opened #60 "export Data.MIME.printContentDisposition"
It would be convenient if this were exported -- there are some use cases where you'd like to render ContentDisposition directly, without going through the HasHeader lens. Thanks!

[2020-10-15 22:35] frasertweedale commented on #60
I don't understand.  `printContentDisposition` has type
[code]
You still need to *get* the `ContentDisposition` out of the message, before you can apply this function to it.

[2020-10-15 22:38] frasertweedale commented on #60
OK I think I get it... I found the description confusing but you just want this thing exported ;)

[2020-10-15 23:03] dylex commented on #60
Right, yes, sorry, I have a `ContentDisposition` already extracted (and possibly mutated) and just want a rendered string for it, so it'd be great to be able to use `printContentDisposition` directly (for use as an HTTP response header in this case -- building some webmail stuff).

[2020-10-15 23:06] frasertweedale commented on #60
Yep, I'll export it.  Will do it this weekend.  Not sure when I'll cut a new release though.

[2020-10-15 23:13] dylex commented on #60
No worries, I have a messy workaround for now (mutate message, re-extract header). And great package overall, thanks, just right for what I needed.

[2020-10-16 06:28] frasertweedale commented on #60
@dylex that's great.  Would love to know more about what you're using it for :)

[2020-10-17 06:43] #60 closed

[2021-03-12 09:30] #18 closed

[2021-03-12 09:30] #49 closed

[2021-03-12 09:30] #53 closed

[2021-10-06 03:18] #33 closed

[2021-10-12 22:47] NorfairKing opened #67 "Emails don't seem to roundtrip"
I don't know if the RFC's fault, or the implementation, but it looks like parsing and rendering messages doesn't roundtrip.

![roundtrip](https://user-images.githubusercontent.com/3521180/137039053-98ed5f4b-c05d-42ab-8458-621c8a5a9a55.png)

Is this intentional?

[2021-10-13 10:13] NorfairKing commented on #67
It would also be nice if roundtrip tests like this were part of the test suite.
Now I have to write tests to find bugs in the library rather than in my own.
I'd be happy to help with writing tests if you like.

[2021-10-14 11:26] NorfairKing commented on #67
AHA! We may want to add some comments about that. Not every value is valid (that's what `validity` is for).

Yes I think that's entirely right. Thanks for pointing this out and not jumping down that rabit hole for me!

I'm considering building a haskell email client here: https://github.com/NorfairKing/kalm
Nothing works yet, but I've made a diagram:
![diagram](https://user-images.githubuserconten

[2021-10-14 13:49] frasertweedale commented on #67
@NorfairKing are you aware of https://github.com/purebred-mua/purebred?  It's a terminal MUA using notmuch for mail storage, and sits in pretty much the same box as Kalm in that diagram above.  We wrote *purebred-email* for working with the message data.

I don't wish to deter you from doing your own thing - but if the goals are similar and you like purebred's approach (*mutt*-esque UX) it could b

[2021-10-14 23:23] frasertweedale commented on #67
@NorfairKing all good.  At the end of the day if we can't agree, we can do different things.  But it is good if we can find common ground and work from there.  It might be better to discuss each of the topics in more detail in issues filed against purebred, but here are some brief thoughts:

## stack build

I have no interest personally, but no fundamental objection.  We used to have it at the beg

[2021-11-08 16:04] tomjaguarpaw commented on #24
I have just hit this. For the record, it seems the the [`From` header reported by @romanofski](https://github.com/purebred-mua/purebred-email/issues/24#issuecomment-486470702) is part of the [mbox format](https://porkmail.org/era/mail/procmail-presentation.html#mail-anatomy). Strangely if, in mutt, I issue `<pipe>cat > /tmp/out<enter>` then `/tmp/out` ends up containing this mbox `From` header. I

[2021-11-08 20:48] tomjaguarpaw opened #68 "Handle multipart/related without type parameter"
Thanks for this useful library!

When purebred-email parses `Content-Type: multipart/related` it [looks for the required parameter `type`](https://github.com/purebred-mua/purebred-email/blob/v0.5/src/Data/MIME.hs#L928-L929). Previously [it didn't do so](https://github.com/purebred-mua/purebred-email/blob/v0.4.3/src/Data/MIME.hs). It seems that the new behaviour is indeed correct, according to [RFC

[2021-11-08 23:01] frasertweedale commented on #24
@tomjaguarpaw can you please attach a complete mail?  Maybe we can add some (optional?) preprocessing to handle messages stored in mbox format.

[2021-11-08 23:15] frasertweedale commented on #68
@tomjaguarpaw thank you for reporting this.

It is most irksome when the world's biggest companies that purportedly hire the best engineers fail to follow straightforward rules in official specifications.

Of course, there must already be a bajillion non-conforming messages already out there, sitting in people's mail archives.  So I guess we have to handle this.

Could you please send a non-confor

[2021-11-09 00:08] frasertweedale commented on #68
I have reported the issue to both Gmail and Fastmail... though I don't hold much hope of them ever fixing it and, as already discussed, it doesn't help with the non-conformant messages they already generated.

[2021-11-09 08:02] tomjaguarpaw commented on #24
Sure, here's what one looks like. It would be great if, instead of, `parse (message mime)` one could write, for example, `parse (mbox (message mime))`.

[code]

[2021-11-09 08:13] frasertweedale commented on #24
FWIW, the pipe feature in my mutt package (`mutt-2.1.3` from official FreeBSD repos) does not include the mbox preamble when piping the message.  When saving the message to local file, it does include the mbox preamble.

Thinking it through, I think this is best handled by a separate library that understands mbox format and can extract the message(s) from it.  Let me see how much work it would be

[2021-11-09 08:49] frasertweedale commented on #24
Relevant docs / specs:
- http://qmail.org/qmail-manual-html/man5/mbox.html
- https://datatracker.ietf.org/doc/html/rfc4155

[2021-11-09 10:11] tomjaguarpaw commented on #24
I'm using Mutt 1.10.1 from Debian 10. Perhaps the time has come to upgrade to 11.

[2021-11-09 10:42] frasertweedale commented on #24
@tomjaguarpaw after some consideration, I'm not really keen to implement this myself.  It does not seem very complication, but I view it as a distraction from our core work.  If you want to tackle it, I would be happy to review and adopt it under the purebred project umbrella, and (co)maintain it.

[2021-11-09 10:48] tomjaguarpaw commented on #24
Fair enough. It's easy enough for me to work around for now.

[2021-11-09 11:08] frasertweedale commented on #24
OK, I'm going to close it again.  Thanks for your contributions, @tomjaguarpaw.

[2021-11-09 11:08] #24 closed

[2021-11-09 11:14] tomjaguarpaw opened #69 "Some emails come with invalid charset "ascii""
The emails from the "[Bits About Money](https://bam.kalzumeus.com/)" newsletter arrive with a charset of `ascii`. This is invalid according to [IANA](https://www.iana.org/assignments/character-sets/character-sets.xhtml): the charset should be `us-ascii`. Nonetheless, I do want to parse it!

My workaround is

[code]

I'm not sure what the right solution is. Perhaps `purebred-email` could provide `d

[2021-11-09 11:31] frasertweedale commented on #69
`ascii` is not even a registered alias of `us-ascii` (https://www.iana.org/assignments/character-sets/character-sets.xhtml).

@tomjaguarpaw do the mails appear to be generated by a particular program or service (that we could file a ticket against?)

ICU recognises `ascii` as an alias of `us-ascii`, so I'll add it to the default charset lookup in *purebred-email*.  I'll do it and cut a patch-level

[2021-11-09 11:40] tomjaguarpaw commented on #69
Yes, on inspection the headers imply that the mails come from "MailGun".

[2021-11-09 11:45] frasertweedale commented on #69
Thanks.  I'll see if I can file an issue and get them to improve
their compatibility.

On Tue, Nov 09, 2021 at 03:40:21AM -0800, tomjaguarpaw wrote:

[2021-11-12 21:36] tomjaguarpaw commented on #68
May I ask if you have a plan to relax this restriction? I currently have two features I want to implement in an app:

1. Parsing of `Date` headers: requires `Data.IMF`, only available in 0.5
2. Parsing of mail with embedded images from GMail: fails in 0.5 (this issue)

so sadly my app is blocked.

[2021-11-12 22:49] frasertweedale commented on #68
@tomjaguarpaw Yes, I will relax the type to make the `type` header optional.  I will try and get to it soon, maybe even this weekend, but I'll commit to end of November at the latest. It is a breaking API change so I'll have to bump the major version.

[2021-11-12 22:51] frasertweedale commented on #68
I'm also thinking of proposing an Internet-Draft at IETF to formally relax this restriction and define the semantics for undefined `type` parameter.  Evidently many operators are doing just fine without it, so it makes sense to update the specs to reflect established practice.

[2021-11-13 09:07] tomjaguarpaw commented on #68
Thank you!

[2021-11-23 02:53] frasertweedale commented on #67
I'm closing this now that v0.5 was released, which contained some of the type improvements discussed above.

[2021-11-23 02:53] #67 closed

[2021-11-24 00:13] frasertweedale commented on #68
@tomjaguarpaw I've got a branch that resolves this and also #69.  Did you want to check it out and give feedback?

https://github.com/purebred-mua/purebred-email/tree/fix/multipart-related

[2021-11-24 10:23] tomjaguarpaw commented on #68
Thanks! I'll check it as soon as I can (probably not before the weekend).

[2021-11-25 20:45] tomjaguarpaw commented on #68
I can confirm it works fine for me and parses the example email I could not previously parse.

[2021-11-25 22:56] frasertweedale commented on #68
@tomjaguarpaw thank you.  I still have a few changes I want to make before releasing v0.6.  Hope to get it done this weekend.

[2021-12-13 12:04] tomjaguarpaw opened #70 "Can't parse multipart/related followed by multipart/alternative"
I am experiencing a problem with version 0.5. This problem was not present in 0.4.3.

I have several emails in my archive that have the following header:

[code]

I the following parse error:

[code]

When parsing `multipart/related` we `getRequiredParam "type"` which succeeds and then `parsed parseContentType` which fails (https://github.com/purebred-mua/purebred-email/blob/v0.5/src/Data/MIME.hs#

[2021-12-13 12:14] tomjaguarpaw commented on #70
This seems to be where the issue arose: https://github.com/purebred-mua/purebred-email/commit/47a9e818706dca87358d588d2fde77c7a32aa142#diff-4aeeafbfcb59f18a0a43c805646b96c69c0f72820b15ed2a24508621d2e0152dR684-R704

[2021-12-13 12:21] tomjaguarpaw opened #71 "Add useful MIME optics?"
It seems like these optics would be useful to add. The `parseErrors` one was particularly useful for tracking down the error in https://github.com/purebred-mua/purebred-email/issues/70. I don't see any way of getting hold of the errors otherwise!

If you think they would be useful addition then I can make a PR. Suggestions for the best names would be welcome.

[code]

[2021-12-13 12:21] frasertweedale commented on #70
It is a bug.  Incidentally I was going to change this behaviour for the next release, but didn't quite get to it yet.  In fact, this is the last thing I wanted to do before the next release (which also fixes the other issues you reported).  But I got busy with other tasks.

Although I was aware the current behaviour deviates from the RFCs, I did not notice that it could fail in this way.  I only t

[2021-12-13 12:24] tomjaguarpaw commented on #70
Thanks for the update and no need to apologise. I am enjoying using this library! If there's anything that I can help with in the meantime then please let me know. If it would be helpful, and you can give me a hint of what to fix, then I can try to fix it myself an submit a PR.

[2021-12-13 12:35] frasertweedale commented on #71
Thanks @tomjaguarpaw for the suggestion.  `bodyOfMIMEMessage` exists (with a more general type) as `Data.IMF.body`.  I'll contemplate the name and whether it's better to have as the big type `MIME`, `MIMEMessage` or perhaps both.  But I'm happy to adopt this idea.

[2021-12-13 12:45] frasertweedale commented on #70
Many thanks for the offer @tomjaguarpaw.  And if I wasn't already halfway through the fix, I would take up your generous offer!  But if you continue using this library, perhaps there is something you will contribute - besides your bug reports of course, which are themselves valuable contributions.

For the sake of transparency (and reducing bus factor, I suppose), I will sketch the problem and the

[2021-12-13 12:46] tomjaguarpaw commented on #71
Ah, I didn't see it because I only looked in `MIME` (although now I've seen it I realise I've used it before).

[2021-12-13 12:52] tomjaguarpaw commented on #71
Ah, and I see it *is* exported from `MIME` but it is not in the docs because it is part of a module re-export.

[2021-12-13 12:53] frasertweedale commented on #70
Side note: how nice to find an RFC-compliant `multipart/related` production :D

[2021-12-13 18:24] tomjaguarpaw opened #72 "Some systems don't emit micalg for multipart/signed"
Sadly I have another non-conformance to report. Some of my archive has Content-Type multipart/signed but does not provide `micalg`. Specifically, it looks like this

[code]

That is non-conformant according to [RFC 1847](https://datatracker.ietf.org/doc/html/rfc1847#page-3) but it would be helpful to deal with these nonetheless.

[2021-12-13 18:43] tomjaguarpaw commented on #72
(I have reported this upstream to the faulty system)

[2021-12-13 22:33] frasertweedale commented on #72
@tomjaguarpaw thanks for the report.  Are you able to advise what program produces these messages, and how it expects recipients to process this message (perhaps if it does verification itself, the parameters are hardcoded?)

I'm curious to know, because it will help to decide how (or whether) we should deal with this situation in purebred-email.

[2021-12-14 07:53] tomjaguarpaw commented on #72
They are (automated) sales invoices from my ISP intended for a human to read. I suspect they expect the recipients mail client to verify the PGP signature (if the client is configured to do so).

[2021-12-14 08:20] frasertweedale commented on #72
@tomjaguarpaw thanks for the additional info.

I'm not really sure how best to proceed.  Unlike some other deviations from spec we have dealt with, lack of micalg really does put the verifier in a difficult position.  There is no default, thus no *general* way to recover from this situation - how to handle it would be specific to the producer.  Therefore I'm leaning towards *not* fixing this in th

[2021-12-14 08:58] tomjaguarpaw commented on #72
My mail client (Mutt) does successfully recover from the situation and validates the signature. I'm not sure how it does that. Perhaps the MIC algorithm is specified in the PGP signature itself.

On the other hand, I don't desperately need to be able to parse these files and I can understand your rationale for not wanting to support too many non-conformant message types.

[2021-12-14 09:57] frasertweedale commented on #72
OK let me look into the structure of PGPMIME signature payloads a bit further.  I will decide one way or another before the next major version because it will be an API breaking change to the `Signed` constructor to make the `micalg` parameter optional.

[2021-12-14 10:41] divipp opened #73 "`headerFrom` does partial character decoding"
When the email header From field has multiple encoded blocks, only the first block is decoded with `headerFrom`.

For example, given the following header fragment

[code]
`headerFrom` returns

`[Single (Mailbox (Just "V\225ros - Parkol\225si \252gyint\233z =?utf-8?Q?=C3=A9s?=") (AddrSpec "x" (DomainDotAtom ("y" :| ["z"]))))]`

instead of

`[Single (Mailbox (Just "V\225ros - Parkol\225si \252gyint\

[2021-12-14 12:27] frasertweedale commented on #73
@divipp thank you for your detailed bug report.  Would you be able to test the following branch and provide feedback?
https://github.com/purebred-mua/purebred-email/tree/fix/73-decode-folded-encoded-word

[2021-12-15 11:53] tomjaguarpaw commented on #72
Yes, I can see it is pragmatically a difficult decision to make. One doesn't want purebred users to be able to create malformed messages!

(My ISP has now fixed the issue on their end anyway)

[2021-12-15 15:51] divipp commented on #73
Hi,
Thanks for the fast fix!

The example in the bug report is OK now. The space went away and the second part is decoded too.
However the bugfix doesn't work with the following header fragment:

`From: "Aegon =?UTF-8?Q?Biztos=C3=ADt=C3=B3?=" <x@y.z>
`

I think the result should be
`[Single (Mailbox (Just "Aegon Biztosító") (AddrSpec "x" (DomainDotAtom ("y" :| ["z"]))))]`
but it is
`[Single (Mailb

[2021-12-15 23:56] frasertweedale commented on #73
@divipp thanks for the feedback.  I believe for:

    From: "Aegon =?UTF-8?Q?Biztos=C3=ADt=C3=B3?=" <x@y.z>

is correct.  Per https://datatracker.ietf.org/doc/html/rfc2047#section-5:

       + An 'encoded-word' MUST NOT appear within a 'quoted-string'.

Without the quotes, it decodes properly:

[code]

I will implement a test for the feature and include the fix in the next release.

[2021-12-16 13:53] divipp commented on #73
OK, thanks!
Maybe I'll use a lenient `headerFrom` in my application, because in Hungary there are lots encoded words in quoted addresses. :(

[2021-12-16 23:31] frasertweedale commented on #73
@divipp That's unfortunate.  Consider reporting as bug(s) against whatever program(s) are producing those messages.

[2021-12-17 20:12] tomjaguarpaw opened #74 "Should whitespace-only lines be allowed within headers?"
I have an email that contains the following, i.e. whitespace only lines within a header (they contain a number of spaces).

[code]

I *think* this is valid. [RFC 5322](https://www.rfc-editor.org/rfc/rfc5322#section-3.2.2) seems to suggest that it is. `FWS` can be `CRLF 1*WSP CRLF 1*WSP`, for example. [RFC 2822](https://serverfault.com/questions/512229/gratuitous-crlf-in-subject-line-why-is-it-ther

[2021-12-18 07:39] frasertweedale commented on #74
@tomjaguarpaw as always, thanks for the report.

The datum is admitted by the `obs-FWS` production.  It is indeed a bug that *purebred-email* does not handle it, and I will fix it.

If this is a recent message, please also raise an issue with the producer, because, per https://www.rfc-editor.org/rfc/rfc5322#section-4:

    Though these syntactic
    forms MUST NOT be generated according to the gra

[2021-12-18 10:51] tomjaguarpaw opened #75 "Message-ID should be Content-ID?"
This looks suspicious to me, though perhaps I'm misunderstanding something.

https://github.com/purebred-mua/purebred-email/blob/84ab531ab38d6d499e75260b773dcd979f2e1b95/src/Data/MIME.hs#L922-L923

[2021-12-18 11:03] tomjaguarpaw opened #76 "headerContentID is not a valid Lens"
It looks like `headerContentID` is not a valid `Lens`, because parse failure maps to `Nothing`, whilst setting `Nothing` removes the header in question from the list of headers. Thus `set l (view l s) s = s` is violated. Perhaps consider making it a `Traversal' a ContentID` instead?

[code]

(Using `Message-ID` in this example because of https://github.com/purebred-mua/purebred-email/issues/75)

h

[2021-12-18 12:02] tomjaguarpaw commented on #74
OK, I've reported that to the `postmaster`.

[2021-12-18 14:17] frasertweedale commented on #75
oh for sure, that's a typo.  thank you!

[2021-12-19 23:41] frasertweedale commented on #74
@tomjaguarpaw could you please test the changes in branch
https://github.com/purebred-mua/purebred-email/tree/fix/74-obs-fws ?

[2021-12-19 23:52] frasertweedale commented on #75
Fixed in https://github.com/purebred-mua/purebred-email/commit/e1a81522d63b6e8d6a11197e8bdde163b077c537.  Good find and thanks for reporting it!

[2021-12-19 23:52] #75 closed

[2021-12-20 11:24] tomjaguarpaw commented on #74
Yes, seems to do the job, thanks!

[2022-06-03 06:25] frasertweedale opened #77 "add support for Author header field (RFC 9057)"
https://datatracker.ietf.org/doc/html/rfc9057

[2022-07-19 11:12] #73 closed

[2022-07-19 11:41] frasertweedale commented on #74
Fix released in v0.5.1: https://hackage.haskell.org/package/purebred-email-0.5.1

[2022-09-11 05:32] romanofski opened #78 "Parsing of entities in multipart/alternative has regressed between 0.4.3 and 0.5"
I noticed that Purebred all of a sudden isn't parsing entities correctly any more on certain mails. I did a bisect today and this commit:

[code]
introduced the regression.

I don't know yet what's causing it, but it seems the mail's main body has structured like:
[code]
I hacked up the parse tool and did a bisect to find the regressing commit. Don't know yet what's tripping up the parser.

[2022-09-11 05:33] romanofski commented on #78
Update: Symptom is, that `toListOf entities msg` where `msg` is the parsed message returns an empty list.

[2022-09-12 04:49] frasertweedale commented on #78
@romanofski duplicate of https://github.com/purebred-mua/purebred-email/issues/68, which was fixed in 73be2d7bbc1d012566fee826b4dd1c863a897732 but remains unreleased.

[2022-09-12 04:55] #78 closed

[2022-09-12 08:29] frasertweedale commented on #68
Well, "this weekend" turned out more like 8.5 months later, but watch this space :)

[2022-09-12 14:19] #68 closed

[2022-09-12 14:19] #69 closed

[2022-09-12 14:44] frasertweedale commented on #68
https://hackage.haskell.org/package/purebred-email-0.6